<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <div class="details content">
    <h2 class="details-title"><%= blog.title %></h2>
    <div class="meta">
        <span>By: <%= blog.author %></span> | <span><%= blog.createdAt.toLocaleDateString() %></span>
    </div>
    <div class="post-body">
      <p><%= blog.body %></p>
    </div>
    <div class="actions">
        <a class="btn btn-edit" href="/blogs/<%= blog._id %>/edit">Edit</a>
        <a class="btn btn-delete" data-doc="<%= blog._id %>">Delete</a>
    </div>
  </div>
  <%- include('./partials/footer.ejs') %>

  <script>
    const trashcan = document.querySelector('a.btn-delete');
    trashcan.addEventListener('click', (e) => {
      const endpoint = `/blogs/${trashcan.dataset.doc}`;
      fetch(endpoint, {
        method: 'DELETE',
      })
      .then(response => response.json())
      .then(data => window.location.href = data.redirect)
      .catch(err => console.log(err));
    });
  </script>
</body>
</html>